<div class="wrap">
    <img class="img1" src="assets/Path_15.png">

    @if (step == 1) {
    <h1>GENERAR ENVÍO DE MÉXICO A EEUU.</h1>
    <div class="envio-content">
        <h2>Información del remitente</h2>
        <div class="envio-content-row">
            <label for="">Nombre</label>
            <input type="text">
        </div>
        <div class="envio-content-row">
            <label for="">Teléfono</label>
            <input type="text">
        </div>
        <div class="envio-content-row">
            <label for="">N° de identificación</label>
            <input type="text">
        </div>
        <div class="envio-content-row-btn">
            <button class="btnNext" (click)="nextStep()">Siguiente</button>
        </div>
    </div>
    }@else if(step == 2){
    <h1>GENERAR ENVÍO DE MÉXICO A EEUU.</h1>
    <div class="envio-content">
        <h2>Información del destinatario</h2>
        <div class="envio-content-row">
            <label for="">Nombre</label>
            <input type="text">
        </div>
        <div class="envio-content-row">
            <label for="">Teléfono</label>
            <input type="text">
        </div>
        <div class="envio-content-row">
            <label for="">Ciudad</label>
            <input type="text">
        </div>
        <div class="envio-content-row-mid">
            <p>En caso de enviar a una ciudad fuera de California, rellene lo siguiente</p>
        </div>
        <div class="envio-content-row">
            <label for="">Dirección completa</label>
            <input type="text">
        </div>
        <div class="envio-content-row2">
            <label for="">C.P.</label>
            <input type="text">
        </div>
        <div class="envio-content-row2">
            <label for="">Ciudad</label>
            <input type="text">
        </div>
        <div class="envio-content-row">
            <label for="">Horario en que se encuentra</label>
            <input type="text">
        </div>
        <div class="envio-content-row-btn">
            <button class="btnNext" (click)="nextStep()">Agregar mercancía</button>
        </div>
    </div>
    }@else if(step == 3){
    <h1>GENERAR ENVÍO DE MÉXICO A EEUU.</h1>
    <div class="envio-content">
        <h2>Información del paquete</h2>
        <div class="card_cantainer">
            @for (product of products; track $index) {
            <div class="card">
                <h2>Producto: {{product.nombre}}</h2>
                <h2>Peso: {{product.peso}}lb</h2>
                @if(product.fragil){
                <h2>Fragil? Sí</h2>
                }@else{
                <h2>Fráfil? No</h2>
                }
                <h2>Costo del producto: ${{product.costo}}</h2>
            </div>
            }
        </div>
        <div class="envio-content-row">
            <label for="">Nombre del producto</label>
            <input type="text">
        </div>
        <div class="envio-content-row2">
            <label for="">Peso en libras</label>
            <input type="text">
        </div>
        <div class="envio-content-row2">
            <label for="">Es frágil?</label>
            <select name="fragil" id="">
                <option value="si">Sí</option>
                <option value="no">No</option>
            </select>
        </div>
        <div class="envio-content-row2">
            <label for="">Precio</label>
            <input type="text">
        </div>
        <div class="envio-content-row2">
            <label for="">Total</label>
            <input type="text">
        </div>
        <div class="envio-content-row2">
            <button class="btnNext" (click)="nextStep()">Agregar</button>
        </div>
        <div class="envio-content-row2">
            <button class="btnNext" (click)="nextStep()">Guardar</button>
        </div>
    </div>
    }@else if(step == 4){
    <h1>GENERAR ENVÍO DE MÉXICO A EEUU.</h1>
    <div class="envio-content">
        <div class="details">
            <h2>Detalles del pedido</h2>
            <p>fecha de creación</p>
            <h3>Información del remitente</h3>
            <img class="line" src="assets/Line9.png" alt="">
            <p>Nombre: </p>
            <p>Teléfono: </p>
            <p>N° de identificación: </p>
            <h3>Información del destinatario</h3>
            <img class="line" src="assets/Line9.png" alt="">
            <p>Nombre: </p>
            <p>Teléfono: </p>
            <p>Ciudad: </p>
            <p>Dirección completa: </p>
            <p>C.P.: </p>
            <p>Ciudad: </p>
            <p>Horario en que se encuentra: </p>
            <img class="line" src="assets/Line9.png" alt="">
        </div>
        <div class="envio-content-row2">
            <p>Comprueba los datos antes de imprimir</p>
        </div>
        <div class="envio-content-row2">
            <button class="btnNext" (click)="nextStep()">Imprimir</button>
        </div>
    </div>
    }@else if (step == 5) {
    <h1>GENERAR ENVÍO DE MÉXICO A EEUU.</h1>
    <div class="envio-content" (click)="nextStep()">
        <h2>
            PEDIDO REALIZADO CORRECTAMENTE!
        </h2>
        <p>Presiona la pantalla para continuar</p>
    </div>
    }
    <app-footer></app-footer>
</div>