.wrap{
    background-color: #076388;
    width: 100%;
    height: 100vh;
    z-index: -1;
    display: block;
    text-align: center;
    font-family: Roboto;
    color: white;
}

.wrap img{
    margin-top: 20%;
    width: 200px;
    height: 200px;
}

.add-content h1{
    font-size: 26px;
}
.add-content h2{
    font-size: 20px;
}

.add-content-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto 1em auto;
}

.add-content label {
    font-size: 18px;
    margin: 0 0 0.3em 0;
    text-align: left;
    width: 100%;
}

.add-content input {
    border-radius: 8px;
    width: 100%;
    font-size: 20px;
    border: none;
    height: 2em;
    margin-bottom: 0.5em;
}

.add-content button {
  margin: 10px 0;
  padding: 0.7em;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  width: 80%;
  text-align: center;
}

.btnAdd {
  background-color: #083C78;
  color: white;
  border: none;
  justify-content: center;
  width: 80%;
  font-size: 20px;
}